<h1>Configurar Criptomoedas</h1>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort *ngIf="dataSource.data.length > 0">

  <!-- Código Column -->
  <ng-container matColumnDef="codigo">
    <th mat-header-cell *matHeaderCellDef>Código</th>
    <td mat-cell *matCellDef="let element">{{ element.codigo }}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="threshold_minimo">
    <th mat-header-cell *matHeaderCellDef>Threshold Mínimo</th>
    <td mat-cell *matCellDef="let element">{{ element.threshold_minimo | currency }}</td>
  </ng-container>

  <!-- Current_price Column -->
  <ng-container matColumnDef="threshold_maximo">
    <th mat-header-cell *matHeaderCellDef>Threshold Máximo</th>
    <td mat-cell *matCellDef="let element">{{ element.threshold_maximo | currency }}</td>
  </ng-container>

  <!-- Current_price Column -->
  <ng-container matColumnDef="data_atualizacao">
    <th mat-header-cell *matHeaderCellDef>Data Atualização</th>
    <td mat-cell *matCellDef="let element">{{ element.data_atualizacao }}</td>
  </ng-container>

  <!-- Total_volume Column -->
  <ng-container matColumnDef="criptoTipos">
    <th mat-header-cell *matHeaderCellDef>Nome Cryptos</th>
    <td mat-cell *matCellDef="let element">{{ element.criptoTipos.nome }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<div *ngIf="dataSource.data.length === 0">
  <h4>Sem Resultados</h4>
</div>

<br/>
<h4>Recomendação:</h4>
<p matTooltip="Consiste no percentual indicado para a compra" class="valor">Compra:
  <span id="cor-verde">{{ compra | percent }}</span>
</p>
<p matTooltip="Consiste no percentual indicado para a compra" class="valor">Venda:
  <span id="cor-vermelha">{{ venda | percent }}</span>
</p>

<h4>Selecione seu limite para:</h4>
<form class="example-form" [formGroup]="secondFormGroup" novalidate (ngSubmit)="cadastrar()">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Compra</mat-label>
      <input type="number" matInput placeholder="Compra" formControlName="compra" required>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Venda</mat-label>
      <input type="number" matInput placeholder="Venda" formControlName="venda" required>
    </mat-form-field>
    <br/>
  <button mat-raised-button color="primary" matStepperPrevious>Voltar</button>
  <button type="submit" [disabled]="secondFormGroup.invalid"  style="margin: 0 20px;" mat-raised-button color="primary" matStepperNext>Confirmar</button>
</form>
