.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 0.4fr 1fr 1fr;
    grid-template-rows: 69.99px 8fr 1fr;
    grid-template-areas: "header header header" "sidebar content content" "footer footer footer";
}

header {
    grid-area: header;
}

nav {
    grid-area: sidebar;
}

main {
    grid-area: content;
}

footer {
    width: 100%;
    height: 100%;
    background-color: #1a237e;
    grid-area: footer;
}
