.container-first {
    display: grid;
    height: 100vh;
    grid-template-columns: 0.25fr 4fr 1fr;
    grid-template-rows: 69.99px 8fr 1fr;
    grid-template-areas:
    "header header header"
    "sidebar content content"
    "footer footer footer";
    transition: all ease-in-out 2s;
}

.container-second {
    display: grid;
    height: 100vh;
    grid-template-columns: 0.27fr 1fr 1fr;
    grid-template-rows: 69.99px 8fr 1fr;
    grid-template-areas:
    "header header header"
    "sidebar content content"
    "footer footer footer";
    transition: all ease-in-out 2s;
}

header {
    grid-area: header;
}

nav {
    grid-area: sidebar;
    transition: all ease-in-out 0.2s;
}

main {
  grid-area: content;
  transition: all ease-in-out 0.2s;
}

footer {
    width: 100%;
    height: 100%;
    background-color: #1a237e;
    grid-area: footer;
}

// @media only screen and (max-width: 600px) {
//     .container {
//         grid-template-columns: 1fr 1fr 1fr;
//         grid-template-rows: 0fr 8fr 1fr;
//         grid-template-areas: "header header header" "sidebar content content" "footer footer footer";
//         overflow-x: hidden;
//         overflow-y: auto;
//     }
// }
// @media only screen and (min-width: 600px) {
//     .container {
//         grid-template-columns: 1fr 1fr 1fr;
//         grid-template-rows: 0fr 8fr 1fr;
//         grid-template-areas: "header header header" "sidebar content content" "footer footer footer";
//         overflow-x: hidden;
//         overflow-y: auto;
//     }
// }
