.container-first {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.28fr 4fr 1fr;
  grid-template-rows: 70px 8fr 1fr;
  grid-template-areas:
  "header header header"
  "sidebar content content"
  "footer footer footer";
}

.container-second {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.25fr 1fr 1fr;
  grid-template-rows: 70px 8fr 1fr;
  grid-template-areas:
  "header header header"
  "sidebar content content"
  "footer footer footer";
}

header {
  grid-area: header;
}

nav {
  grid-area: sidebar;
}

main {
  grid-area: content;
  margin: 20px;
}

footer {
  width: 100%;
  height: 100%;
  background-color: #1a237e;
  grid-area: footer;
}

@media only screen and (min-width: 320px) and (max-width: 1250px) {
  .container-first {
    grid-template-columns: auto 2fr 1fr;
    grid-template-rows: auto 8fr 1fr;
  }
  .container-second {
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: auto 8fr 1fr;
  }
}
