<div class="login-container">
  <div class="login-content">
    <mat-card class="card-content">
      <h1>Cadastro</h1>
      <form class="formulario" [formGroup]="loginForm" novalidate (ngSubmit)="cadastrar()">
        <mat-form-field appearance="fill">
          <mat-label>Threshold Mínimo</mat-label>
          <mat-icon matPrefix>person_outline</mat-icon>
          <input autofocus type="number" matInput placeholder="Nome" formControlName="threshold_minimo" required />
          <app-message [control]="loginForm.controls.threshold_minimo" error="required" text="Campo Obrigatório"></app-message>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Threshold Máximo</mat-label>
          <mat-icon matPrefix>person_outline</mat-icon>
          <input type="number" autocomplete="false" matInput placeholder="Sobrenome" formControlName="threshold_maximo" required />
          <app-message [control]="loginForm.controls.threshold_maximo" error="required" text="Campo Obrigatório"></app-message>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Data Atualização</mat-label>
          <mat-icon matPrefix>person_outline</mat-icon>
          <input autofocus type="date" matInput placeholder="Data Atualização" formControlName="data_atualizacao" required />
          <app-message [control]="loginForm.controls.data_atualizacao" error="required" text="Campo Obrigatório"></app-message>
        </mat-form-field>

        <div formGroupName="usuario">
          <h4>Usuário</h4>
          <mat-form-field appearance="fill" >
            <mat-label>Nome Usuário</mat-label>
            <mat-icon matPrefix>lock_outline</mat-icon>
            <input type="text" autocomplete="false" matInput placeholder="Nome Usuário" formControlName="nome" />
          </mat-form-field>

          <mat-form-field appearance="fill" >
            <mat-label>Sobrenome Usuário</mat-label>
            <mat-icon matPrefix>lock_outline</mat-icon>
            <input type="text" autocomplete="false" matInput placeholder="Sobrenome Usuário" formControlName="sobrenome" />
          </mat-form-field>

          <mat-form-field appearance="fill" >
            <mat-label>Login Usuário</mat-label>
            <mat-icon matPrefix>lock_outline</mat-icon>
            <input type="text" autocomplete="false" matInput placeholder="Nome Usuário" formControlName="login" />
          </mat-form-field>

          <mat-form-field appearance="fill" >
            <mat-label>Senha Usuário</mat-label>
            <mat-icon matPrefix>lock_outline</mat-icon>
            <input type="password" autocomplete="false" matInput placeholder="Senha Usuário" formControlName="senha" />
          </mat-form-field>

          <mat-form-field appearance="fill" >
            <mat-label>E-mail Usuário</mat-label>
            <mat-icon matPrefix>lock_outline</mat-icon>
            <input type="text" autocomplete="false" matInput placeholder="E-mail Usuário" formControlName="email" />
          </mat-form-field>
        </div>

        <div formGroupName="criptoTipos" >
          <h4>cryptosTipo</h4>
          <mat-form-field appearance="fill" >
            <mat-label>CryptosTipo</mat-label>
            <mat-icon matPrefix>mail_outline</mat-icon>
            <input type="text" autocomplete="false" matInput placeholder="CryptosTipo" formControlName="nome" />
          </mat-form-field>
        </div>

        <button type="submit" [disabled]="loginForm.invalid" mat-raised-button color="primary">
          Cadastrar
        </button>
      </form>
    </mat-card>
  </div>
</div>

