<footer>
    <div class="footer-limiter">

        <div class="footer-right">

            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>

        </div>

        <div class="footer-left">

            <p class="footer-links">Lorem ipsum dolor sit amet.</p>

            <p> © 2021 Copyright Text</p>
        </div>

    </div>
</footer>