<mat-sidenav-container class="example-container" autosize>
    <mat-sidenav #sidenav class="example-sidenav" mode="side" opened="true" [@sidenavAnimationIsExpanded]="isExpanded">
        <mat-nav-list>
            <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
                <a *ngIf="isExpanded || isShowing" mat-list-item [routerLink]="">Inicio</a>
                <mat-icon mat-list-icon>home</mat-icon>
            </mat-list-item>
            <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
                <a *ngIf="isExpanded || isShowing" mat-list-item href="...">Usuários</a>
                <mat-icon mat-list-icon>person</mat-icon>
            </mat-list-item>
            <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
                <a *ngIf="isExpanded || isShowing" mat-list-item href="...">Transações</a>
                <mat-icon mat-list-icon>attach_money</mat-icon>
            </mat-list-item>
            <mat-list-item (click)="showSubmenu = !showSubmenu" class="parent">
                <a *ngIf="isExpanded || isShowing" mat-list-item href="...">Threshold</a>
                <mat-icon mat-list-icon>price_change</mat-icon>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>
