<div class="login-container">
  <div class="login-content">
    <mat-card class="card-content">
      <h1>Cadastro</h1>
      <form class="formulario" [formGroup]="loginForm" novalidate (ngSubmit)="cadastrar()">
        <mat-form-field appearance="outline">
          <mat-label>Nome</mat-label>
          <mat-icon matPrefix>person_outline</mat-icon>
          <input
            autofocus
            type="text"
            matInput
            placeholder="Nome"
            formControlName="nome"
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Sobrenome</mat-label>
          <mat-icon matPrefix>person_outline</mat-icon>
          <input
            type="text"
            autocomplete="false"
            matInput
            placeholder="Sobrenome"
            formControlName="sobrenome"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Login</mat-label>
          <mat-icon matPrefix>person_outline</mat-icon>
          <input
            autofocus
            type="text"
            matInput
            placeholder="Login"
            formControlName="login"
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Senha</mat-label>
          <mat-icon matPrefix>lock_outline</mat-icon>
          <input
            type="password"
            autocomplete="false"
            matInput
            placeholder="Password"
            formControlName="senha"
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <mat-icon matPrefix>mail_outline</mat-icon>
          <input
            type="text"
            autocomplete="false"
            matInput
            placeholder="E-mail"
            formControlName="email"
          />
        </mat-form-field>

        <button type="submit" [disabled]="loginForm.invalid" mat-raised-button color="primary">
          Cadastrar
        </button>
      </form>
      <p class="link">
        Já possui cadastro?
        <a routerLink="/login"> Ir para Login </a>
      </p>
    </mat-card>
  </div>
</div>
