.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.container img {
  width: 500px;
  height: 300px;
}

h2 {
  color: #002395;
  font-family: "Roboto";
  font-weight: bold;
  text-align: center;
  width: 25%;
}
