<div class="card-wrapper">
    <div class="card-custom">
        <div class="card-imgage">
            <img class="card-img rounded-circle" [src]="url"
                alt="Card image cap">
        </div>
        <div class="card-description">
            <h3 class="card-title text-success">{{usuario?.login}}</h3>
            <h5 class="card-title text-secondary">{{usuario?.email}}</h5>
        </div>
        <mat-menu #appMenu="matMenu">
            <button mat-menu-item (click)="openDialog()">Alterar Senha</button>
            <button (click)="logout()" mat-menu-item>Logout</button>
        </mat-menu>

        <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>more_vert</mat-icon>
      </button>
    </div>
</div>
