img {
    max-width: 100%;
}

.card-wrapper {
    padding: .75rem;
}

.card-custom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 800px;
}

.card-description {
    margin-left: 15px;
    width: 68%;
}

.card-imgage {
    max-width: 150px;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}