.container-flex {
  width: 100%;
}

.botao-ajuste {
  display: flex;
  justify-content: flex-end;
  margin: 10px 5px;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 15%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

