<div class="login-container">
  <div class="login-content">
    <mat-card class="card-content">
      <h1>Cadastro</h1>
      <form class="formulario" [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>Nome</mat-label>
          <mat-icon matPrefix>person_outline</mat-icon>
          <input
            autofocus
            type="text"
            matInput
            placeholder="Username"
            formControlName="username"
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Sobrenome</mat-label>
          <mat-icon matPrefix>lock_outline</mat-icon>
          <input
            type="password"
            autocomplete="false"
            matInput
            placeholder="Password"
            formControlName="password"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Usuário</mat-label>
          <mat-icon matPrefix>person_outline</mat-icon>
          <input
            autofocus
            type="text"
            matInput
            placeholder="Username"
            formControlName="username"
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Senha</mat-label>
          <mat-icon matPrefix>lock_outline</mat-icon>
          <input
            type="password"
            autocomplete="false"
            matInput
            placeholder="Password"
            formControlName="password"
          />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <mat-icon matPrefix>lock_outline</mat-icon>
          <input
            type="password"
            autocomplete="false"
            matInput
            placeholder="Password"
            formControlName="password"
          />
        </mat-form-field>

        <button type="submit" mat-raised-button color="primary">
          Cadastrar
        </button>
      </form>
      <p class="link">
        Já possui cadastro?
        <a href="#paralogin"> Ir para Login </a>
      </p>
    </mat-card>
  </div>
</div>
