<div class="login-container">
    <div class="login-content">
        <mat-card class="card-content">
            <h1>Login</h1>
            <form class="formulario" [formGroup]="loginForm" novalidate (ngSubmit)="autenticar()">
                <mat-form-field appearance="fill">
                    <mat-label>Usuário</mat-label>
                    <mat-icon matPrefix>person_outline</mat-icon>
                    <input autofocus type="text" matInput placeholder="Username" formControlName="username" required />
                    <app-message
                    [control]="loginForm.controls.username"
                    error="required"
                    text="Campo Obrigatório"></app-message>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Senha</mat-label>
                    <mat-icon matPrefix>lock_outline</mat-icon>
                    <input type="password" autocomplete="false" matInput placeholder="Password" formControlName="password" required />
                    <app-message
                    [control]="loginForm.controls.password"
                    error="required"
                    text="Campo Obrigatório"></app-message>
                </mat-form-field>

                <button type="submit" [disabled]="loginForm.invalid" mat-raised-button color="primary">
                  Login
                </button>
            </form>
            <p class="link">
                Ainda não tem cadastro?
                <a routerLink="/cadastro-usuario"> Cadastre-se </a>
            </p>
        </mat-card>
    </div>
</div>
