.pwChange-container {
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
}

form {
  width: 100%;
}

.pwChange-content {
  width: 400px;
  display: block;
  margin: 0 auto;
}

.pwChange-toolbar {
  justify-content: center;
}

.mat-form-field {
  width: 100%;
  display: block;
}

.pwChangeCard-content {
  height: 282px;
}

.mat-raised-button {
  width: 100%;
}

h1 {
  font-size: 48px;
  color: #002395;
  padding: 10px 0;
  line-height: 50px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  padding-bottom: 15px;
}

h1:after {
  content: ' ';
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 10px;
  background: linear-gradient(to right, rgba(93, 118, 203, 0) 0%, rgba(21, 96, 189, 0.8) 20%, rgba(0, 65, 106, 1) 53%, rgba(0, 35, 149, 0.8) 79%, rgba(25, 25, 112, 0) 100%);
}
